#body-index{
   background-image: url('../img/01-capa.jpeg');

   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;
   background-size: cover;
   
}

h3{
   text-shadow: black 0.1em 0.1em 0.1em
}

.mt-200{
   margin-top: 200px;
}

#body-carta{
   background-color: gray;
}

.numbers{
   font-size: 20pt;
}

p{
   text-align: justify;
   font-size: 14pt;
}